In [1]:
import pandas as pd

path = "./Visits Data.csv"
path2 = "./Purchase Data.csv"

visits = pd.read_csv(path)
purchase = pd.read_csv(path2)

len(visits), len(purchase)

(3084, 1900)

In [12]:
rfm = pd.DataFrame(columns=["Contact Key", "Recency of visit", "Frequency of visits"])

cnts = visits["Contact Key"].unique()
print(len(cnts))
summ = 0
for cnt in cnts:
    temp = visits[visits["Contact Key"] == cnt]
    date_diff = temp["Date difference"]
    recency = min(date_diff.to_list())
    frequency = len(temp)
    rfm.loc[-1] = [cnt, recency, frequency]
    rfm.index += 1
rfm = rfm.sort_index()

2428

In [13]:
rfm.to_csv("RFM Data.csv")
rfm

     Contact Key Recency of visit Frequency of visits
0          10864              241                   1
1           8835              241                   1
2           1468              218                   1
3           7119              228                   1
4          18783              167                   1
...          ...              ...                 ...
2423       20113              120                   1
2424       19969               55                   3
2425       20341                5                   2
2426       21685                6                   1
2427       21318               33                   1

[2428 rows x 3 columns]

In [14]:
new_pur = pd.DataFrame(columns=["Contact Key", "Recency of visit", "Frequency of visits", "Moneytary", "Average Moneytary"])

cnts = purchase["Contact Key"].unique()
print(len(cnts))
summ = 0
for cnt in cnts:
    temp = purchase[purchase["Contact Key"] == cnt]
    date_diff = temp["Date diff"]
    recency = min(date_diff.to_list())
    frequency = len(temp)
    moneytary = sum(temp["Total cost"].to_list())
    avg_moneytary = moneytary/frequency
    new_pur.loc[-1] = [cnt, recency, frequency, moneytary, avg_moneytary]
    new_pur.index += 1
new_pur = new_pur.sort_index()

909

In [15]:
new_pur.to_csv("New purchase.csv")
new_pur

,Contact Key,Recency of visit,Frequency of visits,Moneytary,Average Moneytary
0,20203.0,115.0,1.0,25000.0,25000.0
1,7706.0,117.0,1.0,23000.0,23000.0
2,3741.0,141.0,1.0,23000.0,23000.0
3,20307.0,92.0,1.0,3500.0,3500.0
4,1975.0,94.0,2.0,76500.0,38250.0
...,...,...,...,...,...
904,705.0,182.0,2.0,118000.0,59000.0
905,1878.0,242.0,1.0,34500.0,34500.0
906,1587.0,242.0,1.0,34500.0,34500.0
907,10871.0,242.0,1.0,10000.0,10000.0
908,6693.0,242.0,1.0,185000.0,185000.0